services:
  backend:
    build: ./backend
    ports:
      - '3001:3001'
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    ports:
      - '5173:5173'
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

  py-backend:
    build: ./gardenRecognition   
    ports:
      - "8000:8000"       
    volumes:
      - ./gardenRecognition:/app
    environment:
      - FLASK_ENV=development
    depends_on:
      - backend



