.fullScreen {
  display: flex;
  margin: auto;
  width: 100%;
}

.mainContent {
  /* padding: 16px; */
  width: 100%;
  transition: padding-left 0.3s ease;
  padding-left: 100px;
}


.mainContentExpanded {
  padding-left: 200px;
}
